# Expo
.expo/
.expo-shared/
node_modules/
dist/
web-build/

# Android
android/app/build/
android/.gradle/
android/.idea/

# iOS
ios/build/
DerivedData/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db